- page_title "#{@snippet.title} (#{@snippet.to_reference})", "Snippets"

= render 'shared/snippets/header'

.project-snippets
  %article.file-holder.snippet-file-content
    = render 'shared/snippets/blob'

  .row-content-block.top-block.content-component-block
    = render 'award_emoji/awards_block', awardable: @snippet, inline: true

  #notes= render "shared/notes/notes_with_form", :autocomplete => false
